body {
    background-image: url('../image/white.jpg');
    color: #2d2e2e;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: left;
}
a{
    text-decoration: none;
}
a:link, a:visited{color:#95afc0;} 
a:hover, a:active{color:#4834d4;}

.body{
    margin: 15px auto;
    width: 70%;
    clear: both;
}
/*----------------------HEADER-------------------------*/
.mainHeader img{
    width: 100%;
}

.mainHeader nav{
    background-color: #192a56;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.mainHeader nav ul{
    text-align: center;
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li{
    display: inline;
}

.mainHeader a:link, a:visited{
    color: white;
    padding: 10px 40px;
    display: inline-block;
    height: 20px;
}

.mainHeader a:hover, a:active{
     color: rgb(255, 255, 255);
     background-color: #2f4274;
     text-shadow: 1px 1px black;
}

/*----------------------MAIN-------------------------*/
.mainContent{
    width: 100%;
    height: 100%;
}

.top-Content{
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 3%;
    margin-top: 3%;    
}
.login-Content{
    width: 70%;
    height: 100%;
    background-color: rgb(235, 240, 241);
    margin: 0 auto;
    padding: 20px;
    border: 2px solid  #2f4274;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.login-Content header{
    font-size: 20px;
    border-bottom: 3.5px solid #2f4274;
    margin-bottom: 20px ;
    text-align: center;
    width: 100%;
}
.form{
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 100%;
    padding-top: 15px;
    border: none;
    background: none;
    outline: none;
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}


.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform: translateX(0%);
}


@media screen and (max-width:375px) {
    .body{        
        width: 90%;     
        font-size: 95%;   
    }
    .mainHeader nav{       
        height: 160px;        
    }
    
    .mainHeader nav ul{
        width: 100%;
        padding: 0;
    }
    
    .mainHeader nav ul li{
        display: block;
    }
    
    .mainHeader a:link, a:visited{        
        display: block;
    }
        
}
