body {
    background-repeat: no-repeat;
    background-size: cover;
}

.casing {
    height: 300px;
    margin: auto;
    position: relative;
}


.home:hover {
    animation: source 1s ease-in-out;
}

.home {
    font-family: Tahoma;
    font-size: 15px;
    margin-left: 90%;
    top: 10px;
    position: relative;
    cursor: pointer;
}



.hier {
    font-family: Tahoma;
    font-size: 30px;
    letter-spacing: 5px;
    position: absolute;
    font-style: italic;
    opacity: 0.3;
    font-weight: bold;
}

.jump {
    padding-bottom: 20px;
    background: linear-gradient(to right top,#4800ff,#eee);
    text-align: center;
    width: 600px;
    margin: auto;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.land {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 4px;
    color: darkblue;
    opacity: 0.7;
    animation: move 3s;
}

.txt {
    width: 250px;
    margin: 20px auto;
    display: inline-block;
    color: green;
    border-radius: 10px;
}

    .txt:hover, .txt:focus {
        animation: moves 1s ease-in-out;
        cursor: pointer;
    }

@keyframes moves {
    0% {
        width: 0px;
    }

    100% {
        width: 200px;
    }
}

form {
    padding-top: 50px;
}

.subject, .subject1 {
    color: white;
    font-size: 20px;
    border-top-left-radius: 20px;
    font-weight: bold;
    padding: 4px 20px;
    display: inline-block;
    margin-right: 30px;
}

.subject1 {
    padding: 4px 36px;
}

.nav-link {
    cursor: pointer;
}

::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.send {
    width: 400px;
    margin-top: 10px;
    margin-left: 100px;
    color: white;
    background-color: #192a56;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 30px;
    border: none;
    opacity: 0.7;
}



@-webkit-keyframes move {
    0% {
        font-size: 10px;
        color: green;
        transform-origin: center;
    }

    100% {
        font-size: 30px;
        color: darkblue;
    }
}

@keyframes moves {
    0% {
        width: 0px;
    }

    100% {
        width: 200px;
    }
}

@keyframes source {
    0%,100% {
        right: 0;
        color: white;
    }

    25% {
        right: 3px;
        color: black;
    }

    50% {
        right: -3px;
        color: red;
    }

    75% {
        right: 3px;
        color: forestgreen;
    }
}

@media(max-width:769px) {
    .send {
        width: 150px;
        position: relative;
        right: 20px;
    }

    .casing {
        width: 700px;
        height: 100px;
        position: relative;
    }

    .jump {
        width: 300px;
    }

    .hier {
        font-size: 20px;
        margin-top: 10px;
    }

    .send {
        position: relative;
        right: 30px;
        width: 150px;
    }

    .home {
        font-family: 'Agency FB';
        font-size: 19px;
        margin-right: 20px;
    }
}

@keyframes next {
    0% {
        width: 0%;
    }

    100% {
        width: 900px;
    }
}

.heading {
    animation: next 1s ease-in-out;
}

