body {
    font-size: 95%;
    line-height: 1;
}

.body {
    margin: 10px auto;
    width: 90%;
}
/*----------------------HEADER-------------------------*/
.mainHeader nav {
    height: 200px;
    border: 2px solid white;
}

.mainHeader nav ul {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.mainHeader a:link, a:visited {
    display: block;
    border-radius: 3px;
}
/*----------------------MAIN-------------------------*/
.mainContent {
    width: 100%;
    float: none;
}

.title-post {
    width: 90%;
    font-size: 40px;
    border-bottom: 4px solid #193783d0;
}

.post-document {
    width: 70%;
}

.title-login {
    font-size: 25px;
    margin: 40px 70px 40px 0;
}

.title-input {
    font-size: 17px;
}

.icon {
    font-size: 20px;
}

.input {
    font-size: 22px;
    border-bottom: 2px solid #2d2e2e;
}

    .input + .span-bottom {
        height: 3px;
    }

.post-document p {
    font-size: 18px;
}

.post-document p i {
    margin-right: 5px;
    font-size: 22px;
}

.icon-btn {
    font-size: 15px;
}

.btn {
    margin: 25px auto;
}

.button {
    font-size: 15px;
    border: 3px solid #193783;
}
/*----------------------SIDE-------------------------*/
.mainSide {
    width: 100%;
    height: 100%;
    margin: 5% auto;
}

.sidebar1 {
    padding: 3%;
    margin-bottom: 2%;
}

.title-side {
    font-size: 21px;
    border-bottom: 3px solid #193783ad;
    width: 40%;
}

.post-side {
    font-size: 18px;
    line-height: 30px;
}

/*----------------------FOOTER-------------------------*/
.footer {
    float: none;
    border: 2px solid white;
}

.post-footer {
    margin: 20px auto;
}

.title-footer {
    font-size: 20px;
    word-spacing: 5px;
    line-height: 2;
    padding: 10px;
}

